.section_form {
  border: none;
  padding: 0;
  margin: 0;
}

.form_info_person {
  padding: 0 30px;
}

.section_form_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.section_form_input.form_input-offest {
  margin-bottom: 28px;
}

.form_label {
  font-size: 10px;
  // @include customText($colorGrey, 10px, $lhMain, $fwRegular);
  color: $gray-text;
  margin-bottom: 2px;
}

.form_input {
  border: none;
  border-bottom: 1px solid $gray-lite;
  outline: none;
  // @include customText($colorBlack, $fsMain, $lhMain, $fwSemiBold);
  &.input_form_danger {
    border-bottom: 1px solid $red;
  }
}

.form_input::placeholder {
  color: $gray-text;
  font-weight: 400;
  // @include mainText($colorTxtGrey, $fwRegular)
}


.form_contact_person {
  padding: 25px 30px;
  background-color: rgba(200, 197, 209, .2);
}

.form_contact_item {
  display: flex;
  height: 37px;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 25px;
  }
}



.btn_contact_add {
  background-color: transparent;
  border: none;
  // @include mainText($colorBlack, $fwSemiBold);
  cursor: pointer;
  margin: 0 auto;
  font-weight: 600;

  &.active {
    display: flex;
  }

  display: none;
  align-items: center;
  @include transition;
  transition-property: color;
  // transition: $secAnim  ease-in-out;
  padding: 0;

  &:hover {
    background-color: transparent;
    color: $firm;
  }

  &_circle{
    position: relative;
    height: 14px;
    width: 14px;
    border: 2px solid $firm;
    border-radius: 50%;
    display: inline-block;
    @include transition;
    transition-property: background-color;
    margin-right: 5px;
    margin-bottom: -2px;
  }

  &_svg {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 8px;
    height: 8px;
  }

  &_circle &_svg path {
    @include transition;
    transition-property: fill;
    // transition: fill $secAnim  ease-in-out;
  }

  &:hover &_circle {
    background-color: $firm;
  }

  &:hover &_circle &_svg path{
    fill: $white;
  }
}