

.form_contact_item {

  .choices {
    width: 123px;
    height: 37px;
    margin: 0;

    .choices__inner {
      display: flex;
      align-items: center;

      border: 1px solid $gray;
      border-radius: 0;

      background-color: rgb(231, 229, 235);
      .choices__list {
        padding: 0;
      }
    }

    .choices__list.choices__list--dropdown {
      border: 1px solid $gray;
      border-radius: 0;
    }

    .choices__item {
      // @include customText($colorBlack, $fsSecond, $lhMain, $fwRegular);
    }

    .choices__item.choices__item--choice {
      //! background-color: $colorBGselect;
      transition: .1s background-color ease-in-out;
      padding-right: 0;
      // @include customText($colorBlack, $fsSecond, $lhMain, $fwRegular);
    }

    .choices__item.choices__item--choice:hover {
      background-color: rgba(231, 229, 235, 1);
    }
  }

  .choices[data-type*="select-one"] .choices__inner {
    padding: 0 12px;
    min-height: 37px;
  }

  .choices[data-type*="select-one"]::after {
    border-color: transparent;
    background:  url(../img/icons/arrow_list.svg) no-repeat;
    width: 100%;
    transform: rotate(180deg);
  }

  .choices[data-type*="select-one"].is-open::after {
    background: right url(../img/icons/arrow_list.svg) no-repeat;
    border-color: transparent;
    width: 100%;
    transform: rotate(0deg);
  }
}

.contact_item_input {
  flex: 1;
  outline: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding: 8px;
}

.input_contact_danger {
  outline: 1px solid $red;
}

.log_danger{
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: $red;

  padding: 16px;
}

.btn_contact_remove {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 27px;
  background-color: rgb(231, 229, 235);
  border: 1px solid $gray;
  cursor: pointer;
  padding: 0;

  // transition: $secAnim border ease-in-out;

  .btn_contact_remove_svg {
    width: 12px;
    height: 12px;
  }

  .btn_contact_remove_svg path {
    fill: $gray-text;
    // transition: $secAnim fill ease-in-out;
  }

  &:hover {
    border: 1px solid $red;

    .btn_contact_remove_svg path {
      fill: $red;
    }
  }
}