.btn {
  cursor: pointer;
  border-radius: 0;
  border-style: hidden;
  background-color: transparent;
  color: inherit;
  padding: 0;

  transition-property: color, background-color, border-color;
  @include transition;

  &:hover {
    color: $white;
    background-color: $firm-lite;
  }

  &:hover &_svg path {
    fill: $white;
  }

  &:active {
    color: $white;
    background-color: $firm-dark;
    border-color: $firm-dark;
  }

  &:active &_svg path {
    fill: $white;
  }

  &:disabled {
    // cursor: not-allowed;
    color: $gray;
  }

  &_svg path {
    transition-property: fill;
    @include transition;
  }
}

.btn--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--pimary {
  color: $white;
  background-color: $firm;

  &:disabled {
    background-color: transparent;
    border: 1px solid $gray;
  }
}

.btn--secondary {
  color: $firm;
  border: 1px solid $firm;

  &:disabled {
    color: $white;
    background-color: $gray;
    border-color: $gray;
  }
}

.bnt--danger {
  color: $black;
  &:hover {
    background-color: transparent;
    color: $red;
    .btn_svg path {
      fill: $red;
    }
  }

  &:disabled {
    color: $red;
    &:hover {
      .btn_svg path {
        fill: $firm;
      }
    }
  }

}

.bnt--edit {
  color: $black;
  &:hover {
    color: $firm;
    background-color: transparent;
    .btn_svg path {
      fill: $firm;
    }
  }

  &:disabled {
    color: $firm;
  }
}

.btn--sort {
  display: flex;
  align-items: center;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    color: $black;
  }

  &:disabled {
    color: $gray-text;
  }

  & .arrow {
    @include transition;
    transition-property: transform;
    transform: rotateX(180deg);
  }

  &.active .arrow {
    transform: rotateX(0deg);
  }

  &:active {
    background-color: transparent;
    color: $black;
  }
}