.modal.open .modal_window,
.modal.open .modal_overlay {
  opacity: 1;
  z-index: 1000;
  visibility: visible;
}
.modal.hide .modal_window,
.modal.hide .modal_overlay {
  opacity: 1;
  z-index: 1000;
  visibility: visible;
}

.modal.open .modal_window {
  transform: translateY(0);
}

.modal.open .modal_overlay {
  background: rgba(51, 51, 51, .6);
}

.modal.hide .modal_window {
  transform: translateY(-1500px);
}

.modal.hide .modal_overlay {
  background: rgba(51, 51, 51, 0);
}

.modal_window, .modal_overlay {
  opacity: 0;
  z-index: -1000;
  visibility: hidden;
}

.modal_overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include transition;
  background-color: rgba(51, 51, 51, 0);
}

.modal_window {
  position: relative;
  // width: 450px;
  height: auto;
  background-color: $white;
  transform: translateY(-600px);
  transition: transform .3s  ease-in-out;
}

.modal_header {
  display: flex;
  align-items: center;
  padding: 25px 30px 0 30px;
  margin-bottom: 15px;

  &--center {
    justify-content: center;
  }

  .modal_title {
    font-size: 18px;
  }

  .modal_second_title {
    margin-left: 5px;
  }
}

.modal_text_warapper {
  margin: 0 auto;
  width: 275px;
}

.modal_text {
  text-align: center;
}

.modal_close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;

  &:hover {
    background-color: transparent;
  }

  &_svg {
    position: absolute;
    top: 0;
    right: 0;

    width: 29px;
    height: 29px;
  }
}

.modal_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0 25px 25px 25px;
  &_btn--save {
    color: $white;
    background-color: $firm;
    padding: 12px 35px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    &:disabled {
      color: $white;
      background-color: $firm-dark;
    }
  }

  & &_btn_lading-svg {
    display: none;
    animation-name: rotateLoop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right: 4px;
  }

  &_btn_second {
    color: $black;
    font-size: 12px;
    text-decoration: underline;

    &:hover {
      color: $black;
      background-color: transparent;
    }
  }
}
