.choices.search {
  height: 44px;
  width: 581px;
  background-color: transparent;
}

.choices__inner.search_input {
  height: 44px;
  border: 1px solid $black-lite;
  border-radius: 0;
  background-color: transparent;
}

.choices__input.choices__input--cloned {
  background: transparent;
}