


.table {
  table-layout: fixed;

  border-collapse: collapse;
  max-width: 100%;
  min-width: 828px;
  // max-width: 70%;
  width: 100%;


  display: inline-table;
  // border-collapse: separate;

  &_thead {
    &_box {

    }
    &_item {

      font-weight: 400;
      text-align: start;
    }
  }

  &_tbody {
    &_box {

    }
    &_item {
      
    }
  }
}
