@import '../vars';

.link {
  text-decoration-skip-ink: none;
}

.title {
  color: $black;
  font-weight: 700;
}

.text {
  color: $black;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.text--gray {
  color: $gray-text;
  font-size: 12px;
  line-height: 16px;

}

.text--firm {
  color: $firm;
}
