:root {
  --bg-color-main     : ;
  --color-black       : ;
  --color-black-lite  : rgba(51, 51, 51, .2);
  --color-firm        : rgb(152, 115, 255);
  --color-firm-lite   : rgb(184, 158, 255);
  --color-firm-dark   : rgb(128, 82, 255);
  --color-white       : rgb(255, 255, 255);
  --color-gray        : rgb(200, 197, 209);
  --color-gray-lite   : rgba(200, 197, 209, .5);
  --color-gray-text   : rgb(176, 176, 176);
  --color-red         : rgb(240, 106, 77);
}

$bg-main              : rgb(245, 245, 245);
$bg-white             : var(--bg-color-white);
$black                : rgb(51, 51, 51);
$black-lite           : var(--color-black-lite);
$white                : var(--color-white);
$firm                 : var(--color-firm);
$firm-lite            : var(--color-firm-lite);
$firm-dark            : var(--color-firm-dark);
$gray                 : var(--color-gray);
$gray-lite            : var(--color-gray-lite);
$gray-text            : var(--color-gray-text);
$red                  : var(--color-red );



// mixins
@mixin transition() {
  transition-timing-function: ease;
  transition-duration: .2s;
}